* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Karla', sans-serif;
}

.no-notes {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
}

.new-note {
    cursor: pointer;
    background-color: #4A4E74;
    border: none;
    color: white;
    border-radius: 3px;
    height: 30px;
    width: 30px;
}


.first-note {
    cursor: pointer;
    background-color: #4A4E74;
    border: none;
    color: white;
    border-radius: 3px;
    padding: 1rem;
}

.split {
    display: flex;
}

.sidebar {
    width: 20%;
    height: 100vh;
}

.sidebar--header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.sidebar--header > h3 {
    font-size: 1.75rem;
}